Release/
ReleaseIntermediate/
Release-Linux/
Debug/
DebugIntermediate/
Analysis
AnalysisIntermediate
testResults
*testResults*
*.opensdf
*.opendb
*.sdf
*.VC.db
*.cppcheck
.vs/
packages/
tests/build/
build/

#OpenCppCoverage stuff
*.log
tests/.opencppcov/
tests/log.txt