[submodule "external/zip"]
	path = external/zip
	url = https://github.com/kuba--/zip.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
