[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "compile-time-regular-expressions"]
	path = compile-time-regular-expressions
	url = https://github.com/hanickadot/compile-time-regular-expressions
