name: "Coverage"

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  analyze_main:
    name: Coverage Check Local
    if: github.repository_owner == 'ParadoxGameConverters'
    runs-on: [self-hosted, linux]


    strategy:
      fail-fast: false
      matrix:
        language: ['cpp']

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Build solution
      run: |
       cmake --preset x64-coverage-linux
       cmake --build --preset build-x64-coverage-linux --target CommonItemsTests -- -j40

    - name: Run tests
      run: |
       cd build/x64-coverage-linux
       ./CommonItemsTests

    - name: Run gcov
      run: cmake --build --preset build-x64-coverage-linux --target gcov

    - name: Run lcov
      run: |
        echo pwd
        pwd
        echo ls .
        ls .
        echo ls build
        ls build
        echo ls CommonItems
        ls CommonItems
        echo ls CommonItems/build
        ls CommonItems/build
        cmake --build --preset build-x64-coverage-linux --target lcov

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: build/lcoverage/coverage.info

    - uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: build/lcoverage/

    - name: Cleanup
      uses: colpal/actions-clean@v1
      if: always()

  analyze:
    name: Coverage Check Foreign
    if: github.repository_owner != 'ParadoxGameConverters'
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        language: ['cpp']

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Build solution
      run: |
       sudo add-apt-repository ppa:ubuntu-toolchain-r/test
       sudo apt-get update
       sudo apt-get install libcurl4-openssl-dev lcov
       cmake --preset x64-coverage-linux
       cmake --build --preset build-x64-coverage-linux --target commonLib CommonItemsTests -- -j40

    - name: Run tests
      run: |
       cd build/x64-coverage-linux
       ./CommonItemsTests

    - name: Run gcov
      run: cmake --build --preset build-x64-coverage-linux --target gcov

    - name: Run lcov
      run: cmake --build --preset build-x64-coverage-linux --target lcov

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: build/lcoverage/coverage.info

    - name: Cleanup
      uses: colpal/actions-clean@v1
      if: always()
